<div class="login-wrapper row">
    <div class="col-12 mt-5">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-success mt-5" role="alert" *ngIf="status == 'success'">
                Usuario registrado correctamente.
            </div>
        </div>
    </div>
    <div class="col-12 mt-5">
        <div class="col-md-4 mx-auto">
            <div class="alert alert-danger mt-5" role="alert" *ngIf="status == 'error'">
                Registro incorrecto.
            </div>
        </div>
    </div>

    <form class="form" style="margin-top:50px; padding-top: 30px;" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <h2>Registrarse</h2>
        <div class="row">
            <div class="col-md-6 px-1 mb-4">
                <!--NOMBRE-->
                <div class="input-group">
                    <input type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-ZÀ-ÿ]+">
                    <label for="nombre">Nombre</label>

                    <small *ngIf="!nombre.valid && nombre.touched" class="invalid-feedback d-block">
                        El nombre no es válido.
                    </small>

                </div>
            </div>
            <div class="col-md-6 px-1 mb-4">
                <!--APELLIDO-->
                <div class="input-group">
                    <input type="text" name="apellido" id="apellido" #apellido="ngModel" [(ngModel)]="user.apellido" required pattern="[a-zA-ZÀ-ÿ]+">
                    <label for="apellido">Apellido</label>

                    <small *ngIf="!apellido.valid && apellido.touched" class="invalid-feedback d-block">
                        El apellido no es válido.
                    </small>
                </div>
            </div>
            <div class="col-md-6 px-1 mb-4">
                <!--USERNAME-->
                <div class="input-group">
                    <input type="text" name="username" id="username" #username="ngModel" [(ngModel)]="user.username" required pattern="[a-zA-ZÀ-ÿ0-9]+">
                    <label for="username">Nombre de usuario </label>
                    <small *ngIf="!username.valid && username.touched" class="invalid-feedback d-block">
                        El username no es válido.
                    </small>
                </div>
            </div>
            <div class="col-md-6 px-1 mb-4">
                <!--CONTRASEÑA-->
                <div class="input-group">
                    <input type="password" name="password" id="password" #password="ngModel" [(ngModel)]="user.password" required>
                    <label for="password">Contraseña</label>

                    <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                        La contraseña no es válida.
                    </small>
                </div>
            </div>
            <div class="col-md-6 px-1 mb-4">
                <!-- DNI -->
                <div class="input-group">
                    <input type="text" name="dni" id="dni" #dni="ngModel" [(ngModel)]="user.dni" required pattern="[0-9]+">
                    <label for="dni">Documento</label>
                    <small *ngIf="!dni.valid && dni.touched" class="invalid-feedback d-block">
                        El documento no es válido.
                    </small>
                </div>
            </div>
            <div class="col-md-6 px-1 mb-4">
                <!-- ROL -->
                <div class="input-group">
                    <select name="rolId" id="rolId" #rolId="ngModel" [(ngModel)]="user.rolId" required>
                    <label for="rolId">Rol</label>
                    <option value="1">Comprador</option>
                    <option value="2">Vendedor</option>
                    </select>
                </div>
            </div>
        </div>
        
        <!-- BOTON  -->
        <div align="center" class="row">
            <div class="col-6">
                <a [routerLink]="['/']" id="btn_cancelar" class="btn cancelar-btn" style="text-decoration:none">Cancelar</a>
            </div>
            <div class="col-6">
                <input type="submit" id="btn_register" value="Registrarse" class="register-btn" [disabled]="registerForm.invalid"/>
            </div>
        </div>
        <div align="center">
            <a class="btn btn-link" [routerLink]="['/']">Página de inicio de sesión</a>
        </div>
    </form>
</div>
