<!-- Header-->
<header class="bg py-4" style="background-color: rgb(245, 152, 2);">
    <div class="container px-4 pt-5 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Bienvenida/o a Distribuidos</h1>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
            <div class="col mb-5" *ngFor="let item of productos, index as id">
                <div class="card h-100">
                    <!-- Imagen del producto -->
                    <img class="card-img-top" src="{{item.imagen}}" width="450" height="300" />
                    <!-- Detalle del producto -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Nombre del producto -->
                            <h5 class="fw-bolder">{{ item.nombre }}</h5>
                            <!-- Precio-->
                            {{ item.precio | currency:'USD':'symbol':'1.2-2' }}
                        </div>
                    </div>
                    <!-- Acciones -->
                    <div class="row card-footer pt-0 border-top-0 bg-transparent" align="center">
                        <div class="col-12" >
                            <div class="text-center"><a class="btn btn-outline-info mt-auto" [routerLink]="['/producto/', item.id]">Ver</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
