<main class="flex-shrink-0 mt-5">
    <div class="container mt-5">
        <section class="jumbotron text-center mt-5">
            <div class="container">
                <h1 class="jumbotron-heading mt-5">CARRITO</h1>
            </div>
        </section>

        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col" class="text-center">Cantidad</th>
                                    <th scope="col" class="text-right">Precio unitario</th>
                                    <th scope="col">Subtotal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr *ngFor="let item of carrito, index as id">
                                        <td class="col-6 ml-5 p-3" align="center"><img src="{{item.producto.imagen}}" width="50" height="50"/> </td>
                                        <td class="col-6 m-5 p-3">{{ item.producto.nombre }}</td>
                                        <td class="col-6 m-5 p-3">{{ item.cantidad }}</td>
                                        <td class="col-6 m-5 p-3">{{ item.producto.precio }}</td>
                                        <td class="col-6 m-5 p-3">{{ item.producto.precio.valueOf() * item.cantidad.valueOf()  | currency }}</td>
                                        <td class="col-6 m-5 p-3"><a class="btn btn-danger">Eliminar</a></td>
                                    </tr>
                                    <hr>
                                    <tr>
                                        <td class="col-6 ml-5"></td>
                                        <td class="col-6 ml-5"></td>
                                        <td class="col-6 ml-5"></td>
                                        <td class="col-6 ml-5"></td>
                                        <td class="col-6 ml-5">Total:</td>
                                        <td class="col-6 ml-5">{{ total | currency:'USD':'symbol':'1.2-2' }}</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row" align="center">
                        <div class="col-sm-12  col-md-6">
                            <a class="btn btn-lg btn-block btn-secondary">Continuar comprando</a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="btn btn-lg btn-block btn-success text-uppercase" [routerLink]="['/pago/', carritoId]">Finalizar compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>