{{> header }}
<body class="d-flex flex-column h-100">
        {{> navHome }}
        <main class="flex-shrink-0">
            <div class="container">
                <div class="row shop-tracking-status mt-4">
                    <div class="col-md-12">
                        <div class="well">
                            <h4 align="center">Estado del pedido</h4>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="prefix">Código de seguimiento:</span>
                                    <span class="label label-success"></span>
                                </li>
                                <li class="list-group-item">
                                    <span class="prefix">Estado:</span>
                                    <span class="label label-success"></span>
                                </li>
                            </ul>
                            <div class="order-status">
                                <div class="order-status-timeline">
                                    <!-- class names: c0 c1 c2 c3 and c4 -->
                                    <div class="order-status-timeline-completion c2"></div>
                                </div>
                                <div class="image-order-status image-order-status-active active img-circle">
                                    <span class="status">En preparación</span>
                                    <div class="icon"></div>
                                </div>
                                <div class="image-order-status image-order-status-new active img-circle">
                                    <span class="status">Despachado</span>
                                    <div class="icon"></div>
                                </div>
                                <div class="image-order-status image-order-status-intransit active img-circle">
                                    <span class="status">En camino</span>
                                    <div class="icon"></div>
                                </div>
                                <div class="image-order-status image-order-status-delivered active img-circle">
                                    <span class="status">Entregado</span>
                                    <div class="icon"></div>
                                </div>
                                <div class="image-order-status image-order-status-completed active img-circle">
                                    <span class="status">Terminado</span>
                                    <div class="icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {{> footer }}
    </body>
</html>