{{> header }}
    <body>
        {{> navHome }}
        <!-- Header-->
        <header class="bg py-4" style="background-color: rgb(245, 152, 2);">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Bienvenido a Distribuidos</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Imagen del producto -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Detalle del producto -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Nombre del producto -->
                                    <h5 class="fw-bolder">Producto</h5>
                                    <!-- Precio-->
                                    $10.00
                                </div>
                            </div>
                            <!-- Acciones -->
                            <div class="row card-footer pt-0 border-top-0 bg-transparent">
                                <div class="col-4">
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="#">Ver</a></div>
                                </div>
                                <div class="col-8">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale -->
                            <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Imagen del producto -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Detalle del producto -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Nombre del producto -->
                                    <h5 class="fw-bolder">Producto</h5>
                                    <!-- Puntaje del producto -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Precio-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $0
                                </div>
                            </div>
                            <!-- Acciones -->
                            <div class="row card-footer pt-0 border-top-0 bg-transparent">
                                <div class="col-4">
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="#">Ver</a></div>
                                </div>
                                <div class="col-8">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Imagen del producto -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Detalle del producto -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Nombre del producto -->
                                    <h5 class="fw-bolder">Producto</h5>
                                    <!-- Precio-->
                                    $10.00
                                </div>
                            </div>
                            <!-- Acciones -->
                            <div class="row card-footer pt-0 border-top-0 bg-transparent">
                                <div class="col-4">
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="#">Ver</a></div>
                                </div>
                                <div class="col-8">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale -->
                            <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Imagen del producto -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Detalle del producto -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Nombre del producto -->
                                    <h5 class="fw-bolder">Producto</h5>
                                    <!-- Puntaje del producto -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Precio-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $0
                                </div>
                            </div>
                            <!-- Acciones -->
                            <div class="row card-footer pt-0 border-top-0 bg-transparent">
                                <div class="col-4">
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="#">Ver</a></div>
                                </div>
                                <div class="col-8">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale -->
                            <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Imagen del producto -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Detalle del producto -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Nombre del producto -->
                                    <h5 class="fw-bolder">Producto</h5>
                                    <!-- Puntaje del producto -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Precio-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $0
                                </div>
                            </div>
                            <!-- Acciones -->
                            <div class="row card-footer pt-0 border-top-0 bg-transparent">
                                <div class="col-4">
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="#">Ver</a></div>
                                </div>
                                <div class="col-8">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Imagen del producto -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Detalle del producto -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Nombre del producto -->
                                    <h5 class="fw-bolder">Producto</h5>
                                    <!-- Precio-->
                                    $10.00
                                </div>
                            </div>
                            <!-- Acciones -->
                            <div class="row card-footer pt-0 border-top-0 bg-transparent">
                                <div class="col-4">
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="#">Ver</a></div>
                                </div>
                                <div class="col-8">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale -->
                            <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Imagen del producto -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Detalle del producto -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Nombre del producto -->
                                    <h5 class="fw-bolder">Producto</h5>
                                    <!-- Puntaje del producto -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Precio-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $0
                                </div>
                            </div>
                            <!-- Acciones -->
                            <div class="row card-footer pt-0 border-top-0 bg-transparent">
                                <div class="col-4">
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="#">Ver</a></div>
                                </div>
                                <div class="col-8">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale -->
                            <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Imagen del producto -->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Detalle del producto -->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Nombre del producto -->
                                    <h5 class="fw-bolder">Producto</h5>
                                    <!-- Puntaje del producto -->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Precio-->
                                    <span class="text-muted text-decoration-line-through">$20.00</span>
                                    $0
                                </div>
                            </div>
                            <!-- Acciones -->
                            <div class="row card-footer pt-0 border-top-0 bg-transparent">
                                <div class="col-4">
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto" href="#">Ver</a></div>
                                </div>
                                <div class="col-8">
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto" href="#">Agregar al carrito</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{> footer }}
    </body>
</html>