{{> header }}
<body class="d-flex flex-column h-100">
    {{> navHome }}
    <main class="flex-shrink-0">
        <div class="container">
            <!-- Producto -->
            <section class="">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/400x300/dee2e6/6c757d.jpg" alt="..." /></div>
                        <div class="col-md-6">
                            <div class="small mb-1">Vendedor</div>
                            <h1 class="display-5 fw-bolder">Nombre producto</h1>
                            <div class="fs-5 mb-4">
                                <span style="font-size: 50px;">$10</span>
                            </div>
                            <p class="lead">Descripción</p>
                            <p class="lead my-4" style="color:green;">Stock disponible.</p>
                            <div class="d-flex">
                                <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                                <button class="btn btn-outline-success flex-shrink-0" type="button">
                                    <i class="bi-cart-fill me-1"></i>
                                    Añadir al carrito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    {{> footer }}
</body>
</html>