<!-- Footer-->
<footer class="footer mt-auto py-4" style="background-color: rgb(245, 152, 2);">
    <div class="container"><p class="m-0 text-center text-white">TP Distribuidos - Web Services SOAP/REST</p><p class="m-0 text-center text-white">Copyright &copy; 2021. Baez, Bustos, Galván, Rivera.</p></div>
</footer>
<!--Jquery-->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!--Se agrega plugin Jquery Steps (el cual, a su vez, requiere Jquery cookie) 
        para hacer el formulario de la receta de aplicación de a pasos -->
<script src="/js/jquery-steps/jquery.cookie-1.3.1.js"></script>
<script src="/js/jquery-steps/jquery.steps.js"></script>