<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>TP Web Services SOAP/REST</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- FONT AWESOME 5 -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet" />
        
        <style>
                main > .container {
                  padding: 60px 15px 0;
                }
        </style>
        <link href="/css/styleEstadoPedido.css" rel="stylesheet" />
        <link href="/css/login.css" rel="stylesheet" />
        
        <link href="/css/jquery.steps.css" rel="stylesheet" />
        
        
</head>