<body class="-100">

<div class="container">

  <header>
  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" [routerLink]="['/']">Shop Distribuidos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" [routerLink]="['/']">Inicio</a></li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Compra</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#!">Todos los productos</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="#!">Productos populares</a></li>
                          <li><a class="dropdown-item" href="#!">Nuevos productos</a></li>
                      </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#!">Venta</a></li>
                  <li class="nav-item"><a class="nav-link" href="#!">Ayuda</a></li>
                  <li class="nav-item">
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </li>
              </ul>
              <form class="d-flex">
                <ul class="navbar-nav ml-auto ml-md-0" *ngIf="!identity">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" [routerLink]="['/register']">Registrarse</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a>
                  </li>
                </ul>
                <button class="btn btn-outline-dark" type="submit" *ngIf ="identity">
                    <i class="fas fa-shopping-cart me-1"></i>
                    Carrito
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
                <ul class="navbar-nav ml-auto ml-md-0" *ngIf="identity">

                  <li class="nav-item mx-1">
                      <a class="nav-link" href="#" id="search" role="button">
                      <i class="fas fa-search fa-fw"></i>
                      </a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">                            <i class="fas fa-user-circle fa-fw"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#!">Perfil</a></li>
                          <li><a class="dropdown-item" href="#!">Compras</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item pointer" (click)="logout()">Cerrar sesión</a></li>
                      </ul>
                  </li>
                </ul>
              </form>
          </div>
      </div>
  </nav>
</header>
<router-outlet></router-outlet>
<!-- Footer-->
<footer class="footer fixed-bottom mt-auto py-4" style="background-color: rgb(245, 152, 2);">
  <div class="container"><p class="m-0 text-center text-white">TP Distribuidos - Web Services SOAP/REST</p><p class="m-0 text-center text-white">Copyright &copy; 2021. Baez, Bustos, Galván, Rivera.</p></div>
</footer>
</div>
</body>
